* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #202020;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
header, section {
    margin: 20px 0;
    text-align: center;
}
#model3D {
    width: 100vw;
    height: 60vh;
}
